@charset "utf-8";
/* CSS Document */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.search-books-input-wrapper{
    margin-bottom: 40px;
}

#filter{
    margin-left: 4px;
}